<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="project" value="AMBS (ALL)"/>
    <add key="environment" value="Development"/>

    <add key="git:exepath" value="C:\Users\Tanjeer\AppData\Local\Programs\Git\bin\git.exe"/>
    <add key="git:branch" value="develop"/>
    <add key="git:workingdirectory" value="D:\git\private\amms-web"/>
    <add key="git:workingdirectoryandroid" value="G:\ASAI\REPO\GIT\Legacy\ambs-tab"/>

    <add key="output:directoryandroid" value="G:\output"/>

    <add key="msbuild:exepath" value="C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\MSBuild\15.0\Bin\MSBuild.exe"/>
    <add key="msbuild:solutionpath" value="D:\git\private\amms-web\src\Asai.Ambs.sln"/>
    <add key="msbuild:projectpath" value="D:\git\private\amms-web\src\Asa.Ambs.WebSite\Asai.Ambs.WebSite.csproj"/>
    
    <add key="msbuild:IN:publishprofile" value="IN"/>
    <add key="msbuild:PH:publishprofile" value="PH"/>
    <add key="msbuild:GH:publishprofile" value="GH"/>
    <add key="msbuild:NG:publishprofile" value="NG"/>
    <add key="msbuild:TZ:publishprofile" value="TZ"/>
    <add key="msbuild:RW:publishprofile" value="RW"/>
    <add key="msbuild:MM:publishprofile" value="MM"/>
    <add key="msbuild:SL:publishprofile" value="SL"/>
    <add key="msbuild:LK:publishprofile" value="LK"/>
    <add key="msbuild:UG:publishprofile" value="UG"/>
    <add key="msbuild:ZM:publishprofile" value="ZM"/>
    <add key="msbuild:KE:publishprofile" value="KE"/>
    <add key="msbuild:PK:publishprofile" value="PK"/>
    
    <add key="msbuild:IN:publishpath" value="\\T-DEV-24\HostedSites\IN"/>
    <add key="msbuild:PH:publishpath" value="\\T-DEV-24\HostedSites\PH"/>
    <add key="msbuild:GH:publishpath" value="\\T-DEV-24\HostedSites\GH"/>
    <add key="msbuild:NG:publishpath" value="\\T-DEV-24\HostedSites\NG"/>
    <add key="msbuild:TZ:publishpath" value="\\T-DEV-24\HostedSites\TZ"/>
    <add key="msbuild:RW:publishpath" value="\\T-DEV-24\HostedSites\RW"/>
    <add key="msbuild:MM:publishpath" value="\\T-DEV-24\HostedSites\MM"/>
    <add key="msbuild:SL:publishpath" value="\\T-DEV-24\HostedSites\SL"/>
    <add key="msbuild:LK:publishpath" value="\\T-DEV-24\HostedSites\LK"/>
    <add key="msbuild:UG:publishpath" value="\\T-DEV-24\HostedSites\UG"/>
    <add key="msbuild:ZM:publishpath" value="\\T-DEV-24\HostedSites\ZM"/>
    <add key="msbuild:KE:publishpath" value="\\T-DEV-24\HostedSites\KE"/>
    <add key="msbuild:PK:publishpath" value="\\T-DEV-24\HostedSites\PK"/>
  </appSettings>
</configuration>