<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="project" value="AMBS (ALL)"/>
    <add key="environment" value="Development"/>
    <add key="git:exepath" value="C:\Program Files\Git\bin\git.exe"/>
    <add key="git:branch" value="master"/>
    <add key="git:workingdirectory" value="C:\git\private\armadareports"/>
    <add key="msbuild:exepath" value="C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Current\Bin\MSBuild.exe"/>
    <add key="msbuild:solutionpath" value="C:\git\private\armadareports\ArmadaReports\ArmadaReports.sln"/>
    <add key="msbuild:projectpath" value="C:\git\private\armadareports\ArmadaReports\ArmadaReports.Web\ArmadaReports.Web.csproj"/>
    <add key="msbuild:publishprofile" value="armadareports"/>
  </appSettings>
</configuration>